.elementor-10918 .elementor-element.elementor-element-2688b5dd:not(.elementor-motion-effects-element-type-background), .elementor-10918 .elementor-element.elementor-element-2688b5dd > .elementor-motion-effects-container > .elementor-motion-effects-layer{background:url("../../2023/05/Homepage-new-hero.jpg") 50% 50%;background-size:cover;}.elementor-10918 .elementor-element.elementor-element-2688b5dd{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-10918 .elementor-element.elementor-element-2688b5dd > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10918 .elementor-element.elementor-element-2e1af757 > .elementor-element-populated{padding:100px 0px 100px 0px;}.elementor-10918 .elementor-element.elementor-element-d32cde7 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-a50831d > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-4b0ce06a .elementor-heading-title{color:#FFFFFF;font-size:60px;}.elementor-10918 .elementor-element.elementor-element-4b0ce06a > .elementor-widget-container{padding:0px 75px 0px 20px;}.elementor-10918 .elementor-element.elementor-element-4b0ce06a{width:var( --container-widget-width, 96.457% );max-width:96.457%;--container-widget-width:96.457%;--container-widget-flex-grow:0;}.elementor-10918 .elementor-element.elementor-element-eadae2b .elementor-icon-wrapper{text-align:center;}.elementor-10918 .elementor-element.elementor-element-eadae2b.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-10918 .elementor-element.elementor-element-eadae2b.elementor-view-framed .elementor-icon, .elementor-10918 .elementor-element.elementor-element-eadae2b.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-10918 .elementor-element.elementor-element-eadae2b.elementor-view-framed .elementor-icon, .elementor-10918 .elementor-element.elementor-element-eadae2b.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-10918 .elementor-element.elementor-element-eadae2b .elementor-icon{font-size:50px;}.elementor-10918 .elementor-element.elementor-element-eadae2b .elementor-icon svg{height:50px;}.elementor-10918 .elementor-element.elementor-element-eadae2b{width:100%;max-width:100%;top:90%;}body:not(.rtl) .elementor-10918 .elementor-element.elementor-element-eadae2b{left:0px;}body.rtl .elementor-10918 .elementor-element.elementor-element-eadae2b{right:0px;}.elementor-10918 .elementor-element.elementor-element-1e9c07a > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-354e5b31 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-354e5b31{padding:0px 10px 10px 10px;z-index:1;}.elementor-10918 .elementor-element.elementor-element-58f714d1 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-10918 .elementor-element.elementor-element-1a609c44.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-10918 .elementor-element.elementor-element-1a609c44.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-1a609c44 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-10918 .elementor-element.elementor-element-6f662bc2 .elementor-icon-wrapper{text-align:left;}.elementor-10918 .elementor-element.elementor-element-6f662bc2 .elementor-icon{font-size:30px;}.elementor-10918 .elementor-element.elementor-element-6f662bc2 .elementor-icon svg{height:30px;}.elementor-10918 .elementor-element.elementor-element-6f662bc2{width:auto;max-width:auto;top:0px;}body:not(.rtl) .elementor-10918 .elementor-element.elementor-element-6f662bc2{left:235px;}body.rtl .elementor-10918 .elementor-element.elementor-element-6f662bc2{right:235px;}.elementor-10918 .elementor-element.elementor-element-78bc8fb4{text-align:left;}.elementor-10918 .elementor-element.elementor-element-78bc8fb4 .elementor-heading-title{color:var( --e-global-color-fe4a855 );font-size:48px;line-height:40px;}.elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-10918 .elementor-element.elementor-element-710ec8ed{--e-icon-list-icon-size:14px;--icon-vertical-offset:0px;width:auto;max-width:auto;}.elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-item > .elementor-icon-list-text, .elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-item > a{font-size:48px;font-weight:700;}.elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-text{transition:color 0.3s;}.elementor-10918 .elementor-element.elementor-element-44f94e46.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-10918 .elementor-element.elementor-element-44f94e46 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 50px 80px 0px;}.elementor-10918 .elementor-element.elementor-element-44f94e46 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10918 .elementor-element.elementor-element-222f9cb4 > .elementor-container{max-width:500px;}.elementor-10918 .elementor-element.elementor-element-222f9cb4 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-f041288 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-f041288{margin-top:100px;margin-bottom:-100px;z-index:99;}.elementor-10918 .elementor-element.elementor-element-3d89b7ce > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-27f83a97 > .elementor-widget-container{margin:-300px -70px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-27f83a97{z-index:2;}.elementor-10918 .elementor-element.elementor-element-12ee5329:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-10918 .elementor-element.elementor-element-12ee5329 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F3F6;}.elementor-10918 .elementor-element.elementor-element-12ee5329 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:120px 150px 100px 150px;}.elementor-10918 .elementor-element.elementor-element-12ee5329 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10918 .elementor-element.elementor-element-3bb704c8 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-1d60a66a .elementor-counter-number-wrapper{font-size:60px;font-weight:700;line-height:75px;}.elementor-10918 .elementor-element.elementor-element-1d60a66a .elementor-counter-title{color:var( --e-global-color-23bb7d9 );font-size:16px;font-weight:700;line-height:24px;}.elementor-10918 .elementor-element.elementor-element-685eeffa .elementor-counter-title{justify-content:start;color:var( --e-global-color-23bb7d9 );font-size:16px;font-weight:700;line-height:24px;}.elementor-10918 .elementor-element.elementor-element-685eeffa .elementor-counter-number-wrapper{font-size:60px;font-weight:700;line-height:75px;}.elementor-10918 .elementor-element.elementor-element-344b0ffa > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-67f8fd75 .elementor-counter-number-wrapper{font-size:60px;font-weight:700;line-height:75px;}.elementor-10918 .elementor-element.elementor-element-67f8fd75 .elementor-counter-title{color:var( --e-global-color-23bb7d9 );font-size:16px;font-weight:700;line-height:24px;}.elementor-10918 .elementor-element.elementor-element-2659bd92 .elementor-counter-title{justify-content:start;color:var( --e-global-color-23bb7d9 );font-size:16px;font-weight:700;line-height:24px;}.elementor-10918 .elementor-element.elementor-element-2659bd92 .elementor-counter-number-wrapper{font-size:60px;font-weight:700;line-height:75px;}.elementor-10918 .elementor-element.elementor-element-08a3d04 > .elementor-background-overlay{opacity:0.8;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10918 .elementor-element.elementor-element-08a3d04{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:150px 0px 40px 0px;z-index:0;}.elementor-10918 .elementor-element.elementor-element-1bcc7d4 > .elementor-element-populated{padding:50px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1bcc7d4{z-index:2;}.elementor-10918 .elementor-element.elementor-element-4af21cb .elementor-icon-wrapper{text-align:left;}.elementor-10918 .elementor-element.elementor-element-4af21cb .elementor-icon{font-size:80px;}.elementor-10918 .elementor-element.elementor-element-4af21cb .elementor-icon svg{height:80px;}.elementor-10918 .elementor-element.elementor-element-4af21cb{width:auto;max-width:auto;top:0px;}body:not(.rtl) .elementor-10918 .elementor-element.elementor-element-4af21cb{left:0px;}body.rtl .elementor-10918 .elementor-element.elementor-element-4af21cb{right:0px;}.elementor-10918 .elementor-element.elementor-element-3a033db > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-5ab3f87 > .elementor-container{min-height:550px;}.elementor-10918 .elementor-element.elementor-element-5ab3f87 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-10918 .elementor-element.elementor-element-5ab3f87{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-5ab3f87 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-10918 .elementor-element.elementor-element-db2c17e.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-10918 .elementor-element.elementor-element-db2c17e.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-db2c17e > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1ad2253{margin-top:0px;margin-bottom:40px;}.elementor-10918 .elementor-element.elementor-element-62c90d4 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-b844b98{text-align:left;width:auto;max-width:auto;}.elementor-10918 .elementor-element.elementor-element-b844b98 .elementor-heading-title{color:#FFFFFF;font-size:48px;line-height:60px;}.elementor-10918 .elementor-element.elementor-element-b844b98 > .elementor-widget-container{padding:0px 150px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-abeb8e0 > .elementor-container{min-height:400px;}.elementor-10918 .elementor-element.elementor-element-abeb8e0{margin-top:0px;margin-bottom:80px;}.elementor-10918 .elementor-element.elementor-element-0974756 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-9537ea6 > .elementor-widget-container{margin:-90px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-d0ed1e9 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-d0ed1e9{width:auto;max-width:auto;}.elementor-10918 .elementor-element.elementor-element-be92f1f{overflow:hidden;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-9c1eb1e > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-b1fb4bc .elementor-icon-wrapper{text-align:right;}.elementor-10918 .elementor-element.elementor-element-b1fb4bc > .elementor-widget-container{margin:80px 0px -10px 0px;}.elementor-10918 .elementor-element.elementor-element-b1fb4bc{width:100%;max-width:100%;}.elementor-10918 .elementor-element.elementor-element-582d3b8c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:130px;margin-bottom:0px;padding:50px 0px 50px 0px;}.elementor-10918 .elementor-element.elementor-element-582d3b8c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-10918 .elementor-element.elementor-element-765d05db.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-10918 .elementor-element.elementor-element-765d05db.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-5ca5f44c{margin-top:0px;margin-bottom:50px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-19e0bd73 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-5d351c53{text-align:left;}.elementor-10918 .elementor-element.elementor-element-5d351c53 .elementor-heading-title{color:#000000;font-size:48px;}.elementor-10918 .elementor-element.elementor-element-43b57523 .elementor-button-content-wrapper{flex-direction:row-reverse;}.elementor-10918 .elementor-element.elementor-element-43b57523 .elementor-button .elementor-button-content-wrapper{gap:10px;}.elementor-10918 .elementor-element.elementor-element-43b57523 .elementor-button{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-7d3e7ad0{overflow:hidden;transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:80px 0px 80px 0px;}.elementor-10918 .elementor-element.elementor-element-7d3e7ad0:not(.elementor-motion-effects-element-type-background), .elementor-10918 .elementor-element.elementor-element-7d3e7ad0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#F1F3F6;}.elementor-10918 .elementor-element.elementor-element-7d3e7ad0 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10918 .elementor-element.elementor-element-7fc1aee5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-10918 .elementor-element.elementor-element-7fc1aee5 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1aa99a92 .elementor-heading-title{font-size:48px;}.elementor-10918 .elementor-element.elementor-element-1aa99a92 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-10918 .elementor-element.elementor-element-7e9d2f58.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-10918 .elementor-element.elementor-element-7e9d2f58.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-10918 .elementor-element.elementor-element-7e9d2f58 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-472738f5 > .elementor-widget-container{margin:0px -40px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-e370f8e > .elementor-container{min-height:345px;}.elementor-10918 .elementor-element.elementor-element-e370f8e:not(.elementor-motion-effects-element-type-background), .elementor-10918 .elementor-element.elementor-element-e370f8e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2023/05/Homepage_Call-to-action-section.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-10918 .elementor-element.elementor-element-e370f8e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:40px 10px 40px 10px;}.elementor-10918 .elementor-element.elementor-element-e370f8e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-10918 .elementor-element.elementor-element-c3eaa52 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1ab3dc7 > .elementor-container{max-width:936px;}.elementor-10918 .elementor-element.elementor-element-1ab3dc7{margin-top:0px;margin-bottom:50px;}.elementor-10918 .elementor-element.elementor-element-720a915 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-257ea69{text-align:center;}.elementor-10918 .elementor-element.elementor-element-257ea69 .elementor-heading-title{color:#FFFFFF;}@media(min-width:768px){.elementor-10918 .elementor-element.elementor-element-a50831d{width:90.071%;}.elementor-10918 .elementor-element.elementor-element-117074f{width:9.929%;}.elementor-10918 .elementor-element.elementor-element-58f714d1{width:49.78%;}.elementor-10918 .elementor-element.elementor-element-44f94e46{width:50.22%;}.elementor-10918 .elementor-element.elementor-element-3d89b7ce{width:30%;}.elementor-10918 .elementor-element.elementor-element-12ee5329{width:70%;}.elementor-10918 .elementor-element.elementor-element-62c90d4{width:90%;}.elementor-10918 .elementor-element.elementor-element-154d979{width:10%;}.elementor-10918 .elementor-element.elementor-element-7fc1aee5{width:30%;}.elementor-10918 .elementor-element.elementor-element-7e9d2f58{width:70%;}}@media(max-width:1024px){.elementor-10918 .elementor-element.elementor-element-2e1af757 > .elementor-element-populated{padding:150px 20px 100px 20px;}.elementor-10918 .elementor-element.elementor-element-4b0ce06a > .elementor-widget-container{padding:0px 20px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-354e5b31{padding:80px 10px 50px 10px;}.elementor-10918 .elementor-element.elementor-element-58f714d1 > .elementor-element-populated{padding:20px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-221962d9{margin-top:0px;margin-bottom:0px;}.elementor-10918 .elementor-element.elementor-element-1a609c44 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-78bc8fb4 .elementor-heading-title{font-size:30px;}.elementor-10918 .elementor-element.elementor-element-78bc8fb4 > .elementor-widget-container{margin:0px 0px -15px 0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-item > .elementor-icon-list-text, .elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-item > a{font-size:28px;}.elementor-10918 .elementor-element.elementor-element-44f94e46 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-12625aeb > .elementor-element-populated{padding:20px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-27f83a97 > .elementor-widget-container{margin:-350px -100px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-12ee5329 > .elementor-element-populated{padding:100px 20px 80px 120px;}.elementor-10918 .elementor-element.elementor-element-08a3d04{padding:80px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-1bcc7d4 > .elementor-element-populated{padding:110px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-5ab3f87{padding:80px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1ad2253{margin-top:0px;margin-bottom:0px;padding:20px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-b844b98 .elementor-heading-title{font-size:46px;}.elementor-10918 .elementor-element.elementor-element-abeb8e0{margin-top:20px;margin-bottom:0px;padding:20px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-9537ea6 > .elementor-widget-container{margin:-30px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-be92f1f{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-cb8ad5d > .elementor-widget-container{padding:20px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-b1fb4bc > .elementor-widget-container{margin:60px 0px -8px 0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-b1fb4bc{z-index:9;}.elementor-10918 .elementor-element.elementor-element-582d3b8c{margin-top:50px;margin-bottom:0px;padding:50px 20px 50px 20px;}.elementor-10918 .elementor-element.elementor-element-7fc1aee5 > .elementor-element-populated{padding:20px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-e370f8e{padding:40px 20px 40px 20px;}}@media(max-width:767px){.elementor-10918 .elementor-element.elementor-element-2e1af757 > .elementor-element-populated{padding:80px 20px 120px 20px;}.elementor-10918 .elementor-element.elementor-element-4b0ce06a .elementor-heading-title{font-size:42px;}.elementor-10918 .elementor-element.elementor-element-354e5b31{margin-top:0px;margin-bottom:0px;padding:90px 20px 50px 20px;}.elementor-10918 .elementor-element.elementor-element-58f714d1 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-221962d9{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1a609c44 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-78bc8fb4 .elementor-heading-title{font-size:28px;line-height:40px;}.elementor-10918 .elementor-element.elementor-element-78bc8fb4 > .elementor-widget-container{margin:0px 0px -10px 0px;}.elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-item > .elementor-icon-list-text, .elementor-10918 .elementor-element.elementor-element-710ec8ed .elementor-icon-list-item > a{font-size:24px;}.elementor-10918 .elementor-element.elementor-element-710ec8ed > .elementor-widget-container{margin:5px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-44f94e46 > .elementor-element-populated{margin:10px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-12625aeb{width:100%;}.elementor-10918 .elementor-element.elementor-element-12625aeb > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-f041288{margin-top:0px;margin-bottom:0px;}.elementor-10918 .elementor-element.elementor-element-3d89b7ce > .elementor-element-populated{margin:0px 10px -48px 20px;--e-column-margin-right:10px;--e-column-margin-left:20px;}.elementor-10918 .elementor-element.elementor-element-27f83a97 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-27f83a97{z-index:99;}.elementor-10918 .elementor-element.elementor-element-12ee5329 > .elementor-element-populated{padding:120px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-51f415e3{width:50%;}.elementor-10918 .elementor-element.elementor-element-1d60a66a .elementor-counter-number-wrapper{font-size:36px;}.elementor-10918 .elementor-element.elementor-element-169711fb{width:50%;}.elementor-10918 .elementor-element.elementor-element-685eeffa .elementor-counter-number-wrapper{font-size:36px;}.elementor-10918 .elementor-element.elementor-element-344b0ffa{margin-top:0px;margin-bottom:0px;}.elementor-10918 .elementor-element.elementor-element-5156fde7{width:50%;}.elementor-10918 .elementor-element.elementor-element-67f8fd75 .elementor-counter-number-wrapper{font-size:36px;}.elementor-10918 .elementor-element.elementor-element-27618e17{width:50%;}.elementor-10918 .elementor-element.elementor-element-2659bd92 .elementor-counter-number-wrapper{font-size:36px;}.elementor-10918 .elementor-element.elementor-element-08a3d04{margin-top:0px;margin-bottom:0px;padding:100px 20px 80px 20px;z-index:2;}.elementor-10918 .elementor-element.elementor-element-1bcc7d4 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-4af21cb .elementor-icon{font-size:30px;}.elementor-10918 .elementor-element.elementor-element-4af21cb .elementor-icon svg{height:30px;}.elementor-10918 .elementor-element.elementor-element-5ab3f87{padding:40px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-db2c17e > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1ad2253{margin-top:0px;margin-bottom:0px;}.elementor-10918 .elementor-element.elementor-element-62c90d4.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-10918 .elementor-element.elementor-element-b844b98{text-align:center;}.elementor-10918 .elementor-element.elementor-element-b844b98 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-abeb8e0{margin-top:-80px;margin-bottom:0px;padding:20px 0px 0px 20px;}.elementor-10918 .elementor-element.elementor-element-0974756 > .elementor-element-populated{padding:020px 10px 020px 10px;}.elementor-10918 .elementor-element.elementor-element-9537ea6 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-be92f1f{margin-top:10px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-cb8ad5d > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 20px 20px 20px;}.elementor-10918 .elementor-element.elementor-element-b1fb4bc > .elementor-widget-container{margin:0px 0px -6px 0px;}.elementor-10918 .elementor-element.elementor-element-582d3b8c{padding:40px 20px 40px 20px;}.elementor-10918 .elementor-element.elementor-element-765d05db > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-5ca5f44c{margin-top:0px;margin-bottom:30px;}.elementor-10918 .elementor-element.elementor-element-7fc1aee5 > .elementor-element-populated{margin:0px 0px 15px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-10918 .elementor-element.elementor-element-7e9d2f58 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-472738f5 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-10918 .elementor-element.elementor-element-1ab3dc7{margin-top:0px;margin-bottom:30px;}.elementor-10918 .elementor-element.elementor-element-257ea69 .elementor-heading-title{font-size:24px;line-height:32px;}.elementor-10918 .elementor-element.elementor-element-66f8cc6 > .elementor-widget-container{margin:0px 0px 0px 0px;}}@media(max-width:1024px) and (min-width:768px){.elementor-10918 .elementor-element.elementor-element-2e1af757{width:100%;}.elementor-10918 .elementor-element.elementor-element-1a609c44{width:100%;}.elementor-10918 .elementor-element.elementor-element-62c90d4{width:99%;}.elementor-10918 .elementor-element.elementor-element-7fc1aee5{width:45%;}.elementor-10918 .elementor-element.elementor-element-7e9d2f58{width:55%;}}/* Start custom CSS for icon, class: .elementor-element-eadae2b */.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-2688b5dd */@media only screen and (max-width:767px){
    #homeHeroSec > .elementor-container {
        min-height: 500px !important;
        max-height: 500px;
    }
}

@media only screen and (min-width:768px) and (max-width:1920px){
   #homeHeroSec  .elementor-container {
    min-height: calc(100vh - 250px);
} 
}

@media only screen and (min-height: 1024px){
    #homeHeroSec .elementor-container {
    height: 850px !important;
    max-height: 850px !important;
}
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-710ec8ed */.contentSlider .elementor-widget-container {
    position: relative;
  overflow: hidden;
  height: 60px;
  padding: 0 0px !important;
}
.contentSlider .elementor-icon-list-items {
  margin-top: 0;
  padding-left: 0px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration:8s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.contentSlider .elementor-icon-list-item {
  line-height: 60px;
  margin: 0;
  background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}

@-webkit-keyframes change {
0%, 20%, 100% {
    transform: translate3d(0, 0, 0);
  }
  25%, 45% {
    transform: translate3d(0, -25%, 0);
  }
  50%, 70% {
    transform: translate3d(0, -50%, 0);
  }
  75%, 95% {
    transform: translate3d(0, -75%, 0);
  }
 
}
@keyframes change {
  0%, 20%, 100% {
    transform: translate3d(0, 0, 0);
  }
  25%, 45% {
    transform: translate3d(0, -25%, 0);
  }
  50%, 70% {
    transform: translate3d(0, -50%, 0);
  }
  75%, 95% {
    transform: translate3d(0, -75%, 0);
  }
}

/*
.contentSlider .elementor-widget-container:before {
  content: "[";
  left: 0;
}
.contentSlider .elementor-widget-container:after {
  content: "]";
  right: 0;
}
.contentSlider .elementor-widget-container:after, .contentSlider .elementor-widget-container:before {
position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
*//* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-222f9cb4 */.animTextRight > .elementor-container.elementor-column-gap-default {
    margin-left: 0;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-08a3d04 */.vdoBackground:after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    z-index: 0;
    opacity: 0.7;
   background: linear-gradient(180deg, rgba(18, 18, 22, 0.5) -28.27%, rgba(0, 0, 0, 0) 59.47%), linear-gradient(360deg, rgba(106, 31, 122, 0.5) -15.35%, rgba(106, 31, 122, 0) 171.94%) , #0F0F1A;
background-blend-mode: multiply, screen, normal, normal; 
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-9537ea6 */.vdoSliderTestimonial .testimonial-image:before {
       display: none;
        content: "";
        left: calc(50%) !important;
        background: url(../../2023/05/videoPlay-button.svg);
        width: 60px;
        height: 60px;
        font-size: 36px;
        font-style: normal;
        line-height: 36px;
        position: absolute;
        background-size: contain;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
.videoTest.testimonial-image:before{
    display: block !important; 
}
.vdoSliderTestimonial .testimonial-image:after {
        display: block;
        content: "";
        right: 0;
        bottom: 0;
        transform: translate(100%, 100%);
        background: #C9CCD4;
        width: 25px;
        height: 25px;
        font-size: 36px;
        font-style: normal;
        line-height: 36px;
        position: absolute;
        background-size: contain;

        z-index: 99999;
    }

    .testimonialHeading h3 {
        line-height: 60px !Important
    }
    .vdoSliderTestimonial .wpmslider-viewport {
        min-height: 550px;
    }
.vdoSliderTestimonial .videoTest {
            cursor: pointer;
        }
    .vdoSliderTestimonial .wpmtst-testimonial {
        border: 0px !important;
        padding-top: 70px !important;
    }
.darkTestimonial > *, .darkTestimonial p, .darkTestimonial h5 {
      color: #fff !Important; 
}
.coloredTestimonial > *, .coloredTestimonial p, .coloredTestimonial h5 {
      color: #000 !Important; 
}

    .vdoSliderTestimonial .testimonial-content p,
    .vdoSliderTestimonial .testimonial-content h5 {
        font-family: Mulish;
        font-weight: 700;
        font-size: 18px;
        line-height: 150% !important;
        font-style: normal;
        letter-spacing: 0em;
        text-align: left !important;
        margin-bottom: 0px !important;
        padding-top: 0;
        height: max-content;
    }

    .vdoSliderTestimonial .testimonial-image img {
        border: 0px !important;
        background: none !important;
        padding: 0 !important;
        /* top: 75px !important; */
        position: relative;
        max-width: 100%;
        display: block;
        width: 100%;
        height: auto;
    }

    .vdoSliderTestimonial .testimonial-name {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
    }

    .vdoSliderTestimonial .testimonial-company {
        font-size: 16px;
        font-weight: lighter;
        line-height: 24px;
        letter-spacing: 0em;
    }

    .vdoSliderTestimonial .testimonial-field {
        display: none;
    }

    .vdoSliderTestimonial .testimonial-image {
        float: unset !important;
        width: min-content;
        z-index: 9;
        min-height: min-content;
    }

    .vdoSliderTestimonial .testimonial-inner {
        width: 100% !important;
        position: relative;
        border: 0px !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
    }

    .vdoSliderTestimonial .testimonial.excerpt {
        border: 0px;
    }

    .vdoSliderTestimonial .wpmtst-testimonial-content:after,
    .vdoSliderTestimonial .wpmtst-testimonial-content:before {
        display: none;
    }

    .wpmtst-testimonial-content.testimonial-content:after {
        display: block;
        content: "";
        background: url(../../2023/05/quote-inverted-comma.svg) center center no-repeat;
        width: 60px;
        height: 60px;
        font-size: 36px;
        font-style: normal;
        line-height: 36px;
        position: absolute;
        filter: brightness(0) invert(1);
        opacity: 0.3;
        background-size: contain;
        top: -25px !important;
        transform: translateY(-100%);
    }

    .vdoSliderTestimonial .wpmslider-controls a:before {
        background: #ffffff !important;
        top: 50% !important;
        transform: translateY(-50%);
    }

    .vdoSliderTestimonial .wpmslider-controls-direction a {
        background: #ffffff00;
        border-radius: 4px;
        height: 35px !important;
        width: 25px !important
    }

    .nav-position-outside .wpmslider-controls,
  .nav-position-outside .wpmslider-controls.disabled {
        padding: 0 !important;
        position: relative;
        left: calc(50% + 100px);
        display: flex !important;
        justify-content: space-between;
        width: calc(50% - 100px);
        align-items: center;
    }

    a.wpmslider-next {
        position: absolute;
        left: 0;
    }

    a.wpmslider-next.disabled,
    a.wpmslider-prev.disabled {
        opacity: 0.5;
        display: block !important;
    }

    .wpmslider-pager.wpmslider-custom-pager+.wpmslider-controls-direction {
        position: unset;
    }

    .vdoSliderTestimonial .wpmslider-controls-direction a.wpmslider-prev {
        left: -50px !important;
    }

    .vdoSliderTestimonial .wpmslider-controls a.wpmslider-next {
        left: 40px !important;
    }

    .vdoSliderTestimonial .wpmslider-controls-direction a:hover {
        /* background:#fff !important; */
    }

    .vdoSliderTestimonial .wpmslider-controls-direction a:hover:before {
        background: #d6001c !important;
    }
    
    
    #testVideosPopup a.close{
        cursor: pointer;
        position: absolute;
        font-size: var(--lightbox-header-icons-size);
        right: -8em;
        top: -4em;
        margin-top: 0px;
        padding: .25em;
        z-index: 2;
        line-height: 1;
        display: flex;
        color: #eeeeeee6;
        transition: all .3s;
        opacity: 1;
    }
    
    #testVideosPopup button.close{
        display:none !important;
    }
    
    #testVideosPopup a.close{
        width: 1em !important;
        height: 1em !important;
        filter: brightness(100) !important;
        opacity: 0.8 !important;
        background-image: url('../../2024/05/close-icon-search-popup.svg')!important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        transition: all 0s ease-in-out !important;
    }
    
    #testVideosPopup a.close:hover{
        opacity: 1 !important;
    }
    
    @media only screen and (max-width: 900px){
        #testVideosPopup a.close{
            right: 0px !important;
            top: -3em !important;
        }
    }
    
  @media only screen and (min-width:1024px) {
      .vdoSliderTestimonial .wpmtst-testimonial {
    padding-top: 90px !important;
}
        .vdoSliderTestimonial .wpmtst-testimonial-image.testimonial-image {
            top: 0px !important;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-inner.testimonial-inner {
            margin: 0 auto;
            width: 100% !important;
            padding: 0px !important;
            position: relative;
            border: 0px !important;
            min-height: max-content !important;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
        }

        .wpmtst-testimonial-content.testimonial-content:after {
            top: -75px;
            left: calc(50% + 50px);
        }

        .strong-view.nav-position-outside .wpmslider-controls,
        .strong-view.nav-position-outside .wpmslider-controls.disabled {
            bottom: 120px;
        }
    }
        @media only screen and (min-width:721px) and (max-width:1023px) {
        .vdoSliderTestimonial {
            padding-left: 0;
            padding-right: 0;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-image.testimonial-image {
            top: 0 !important;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-inner {
            padding-left: 0 !important;
            padding-right: 0 !important
        }

        .vdoSliderTestimonial .wpmslider-viewport {
            min-height: max-content !important;
        }

        .strong-view.nav-position-outside .wpmslider-controls,
        .strong-view.nav-position-outside .wpmslider-controls.disabled {
            bottom: -30px;
        }
    }
    @media only screen and (min-width:721px) {
        .vdoSliderTestimonial {
            padding-left: 0;
            padding-right: 0;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-image.testimonial-image {
            width: 100%;
            min-width: 50% !important;
            max-width: 50% !important;
            position: relative;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-content h5,
        .vdoSliderTestimonial .testimonial-content p {
            position: relative;
            width: 50%;
            max-width: 50% !important;
            padding-left: 100px;
        }
    }
 
    @media only screen and (max-width:720px) {
         .testimonial-content:after {
            top: -75px;
            left: calc(50% + 0px) !important;
            
        }
        .vdoSliderTestimonial .wpmtst-testimonial-inner.testimonial-inner {
            padding: 40px 30px 20px 20px !important;
        }

        .strong-view.wpmtst-default.slider-container .strong-content {
            height: 100%;
        }

        .vdoSliderTestimonial .wpmslider-viewport {
            min-height: max-content;
          
        }

        .wpmtst-testimonial-content.testimonial-content {
            flex-wrap: wrap !important;
        }

        .vdoSliderTestimonial {
            padding-left: 0;
            padding-right: 0px;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-image.testimonial-image {
            width: 50%;
            position: relative;
            z-index: 9;
            max-width: 50% !important;
            margin: 0 0 30px 0 !important;
            padding-right: 20px;
        }
  
        .vdoSliderTestimonial .wpmtst-testimonial-content h5,
        .vdoSliderTestimonial .testimonial-content p {
            position: relative;
            width: 50%;
            max-width: 50% !important;
            padding-left: 25px;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-image.testimonial-image img {
            padding: 0 !Important
        }

        .vdoSliderTestimonial .wpmtst-testimonial-inner.testimonial-inner {
            width: 100% !important;
            position: relative;
            padding: 0 !important;
            border: 0px !important;
            min-height: 375px !important;
            display: flex !important;
            flex-direction: column;
            justify-content: center;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-content h5 {
            padding-top: 25px !important;
            margin-bottom: 10px !important
        }

       

        .wpmtst-testimonial-content.testimonial-content h5:before,
        .wpmtst-testimonial-content.testimonial-content p:before {
            left: 0px !important;
        }

        .strong-view.nav-position-outside .wpmslider-controls,
        .strong-view.nav-position-outside .wpmslider-controls.disabled {
            position: relative;
            left: 0;
            width: calc(100% - 70px);
            height: 50px !important;
            margin: 0 auto;
        }
    }
  @media only screen and (max-width:720px) {
      .testimonial-content:after {
            top: 220px !important;
            left: calc( 0px) !important;
            
        }
        .wpmtst-testimonial-content.testimonial-content h5:before, .wpmtst-testimonial-content.testimonial-content p:before {
    top: 20px !important;
}
       .vdoSliderTestimonial .wpmtst-testimonial-image.testimonial-image {
            width: 100%;
            position: relative;
            z-index: 9;
            max-width: 100% !important;
            margin: 0 0 30px 0 !important;
        }
        .vdoSliderTestimonial .videoTest {
            cursor: pointer;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-content h5,
        .vdoSliderTestimonial .testimonial-content p {
            position: relative;
            width: 100%;
            max-width: 100% !important;
            padding-left: 25px;
        }


        .singleSliderTestimonial {
            padding: 10px 0px;
        }

        .vdoSliderTestimonial.strong-view.controls-type-sides:not(.rtl) .wpmslider-prev {
            left: 0 !important;
        }

        .vdoSliderTestimonial.strong-view.controls-type-sides:not(.rtl) .wpmslider-next {
            right: -50px !important;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-inner.testimonial-inner {
            padding: 20px 5px 20px 0px !important;
        }

        .vdoSliderTestimonial .wpmtst-testimonial-content:before {
            display: none !important
        }

  }
    .wpmtst-testimonial-content.testimonial-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        position: relative;
    }

    .wpmtst-testimonial-field.testimonial-field.testimonial-name {
        bottom: 15px;
        font-size: 18px;
    }

    .wpmtst-testimonial-field.testimonial-field.testimonial-company {
        bottom: -15px;
        font-weight: lighter;
        font-size: 16px !important;
    }

    .strong-view.wpmtst-default.image-right .wpmtst-testimonial-image+.maybe-clear {
        display: none;
    }

    .wpmtst-testimonial-content.testimonial-content h5:before,
    .wpmtst-testimonial-content.testimonial-content p:before {
        content: "";
        width: 2px;
        height: 400px;
        min-height: calc(100% + 10px);
        background: white;
        position: absolute;
        left: 50px;
        top: -10px;
        display: block;
        max-height: calc(100% + 10px);
    }

    .strong-view.controls-type-sides.nav-position-outside .wpmslider-prev {
        left: 0 !important;
    }

    .wpmtst-testimonial-content.testimonial-content .testimonial-name {
        margin-top: 30px;
    }

    .wpmtst-testimonial-content.testimonial-content .testimonial-name,
    .wpmtst-testimonial-content.testimonial-content .testimonial-company {
        display: block;
    }

    .wpmslider-controls-direction {
        position: relative;
    }

    .wpmslider-pager.wpmslider-custom-pager {
        position: absolute;
        right: 0;
    }

    div#testVideosPopup.modal {
        display: none;
    }

    div#testVideosPopup.modal.show {
        display: block;
    }

    .modal-content button.close {
        right: -15px;
        top: -15px;
    }

    .modal-content button.close {
        position: absolute;
        height: 28px;
        width: 28px;
        left: auto;
        bottom: auto;
        padding: 4px;
        color: #ffffff;
        font-family: inherit;
        font-weight: 700;
        font-size: 10px;
        line-height: 20px;
        border-radius: 42px;
        background-color: rgb(214 0 28);
        opacity: 1;
        z-index: 9;
        right: -14px;
        top: -14px;
        border-width: 0px;
    }

    div#testVideosPopup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        overflow: hidden;
        outline: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .modal-content {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        background: #fff;
    }

    .modal-dialog.modal-lg.modal-dialog-centered {
        max-width: 70%;
        margin: auto;
        height: 100%;
        top: calc(50% + 50px);
        position: relative;
        display: flex;
        transform: translateY(-50%);
        max-height: 82%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .embed-responsive.embed-responsive-16by9 {
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
        height: 100%;
    }

    .embed-responsive-16by9::before {
        padding-top: 56.25%;
    }

    iframe#testVideo {
        position: relative;
        width: 100vw;
        height: 100vh;
        border: 0;
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    .modal-body.d-block.p-0 {
        height: 100%;
        position: relative;
        display: block;
        width: 100%;
        max-width: max-content;
        margin: 0 auto;
    }

    div#testVideosPopup:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: #414040ed;
        display: block;
        content: "";
        filter: blur(1);
    }

    @media only screen and (max-width:768px) {
        .modal-dialog.modal-lg.modal-dialog-centered {
            display: block;
            max-width: calc(100% - 30px) !important;
            margin: auto;
            max-height: fit-content;
            width: 100%;
            height: 210px;
        }

    }/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-5ab3f87 */.gradRadPrplBlue{
    background: linear-gradient(319.08deg, rgba(0, 148, 213, 0.4) -1.89%, rgba(0, 148, 213, 0) 83.3%), linear-gradient(145.07deg, rgba(106, 31, 122, 0.7) -6.16%, rgba(0, 0, 0, 0) 95.11%), linear-gradient(0deg, rgba(15, 15, 26, 0.9), rgba(15, 15, 26, 0.9)), #6A1F7A;
background-blend-mode: color-dodge, lighten, normal, normal;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-3dc7f51a */.ast-single-post .entry-content a, .ast-comment-content a:not(.ast-comment-edit-reply-wrap a) {
    text-decoration: none;
}/* End custom CSS */
/* Start custom CSS */h1,h2,h3,h4,h5,h6{
line-height: 150% !important;	
}


/*Plane-grey Text CTA*/
            .greyPlaneCta a {
                background: transparent !important;
                border: 0px !important;
                color:#63666B !important;
            }

.greyPlaneCta:hover a {
    color: #000000 !important;
}
.elementor-counter {
    align-content: flex-start;
    text-align: left;
    max-width: 185px;
    margin: 0 auto;
    height: 130px;
    min-height: 100px !important;
    position: relative;
}

span.elementor-counter-number-prefix {
    display: list-item;
    display: none;
}

.elementor-counter > * {
    text-align: left !important;
}

.elementor-counter:before {
    content: "";
    top: 0;
    left: 0;
    background: #9FA3AA;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
}

span.gradPrplRed {
    padding:2px 10px;
    white-space: nowrap;
    
}



/*Post Grid*/
.newPostGrid .post-grid .item .layer-wrapper,.newPostGrid .post-grid:hover .item .layer-wrapper {
 box-shadow: none !important
                            }
.post-grid .item:hover .layer-wrapper {
transform: translateY(-0px) !important;
box-shadow: none !important;
 }
.post-grid .item:hover .title_link {
    background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
.element.categories{
 padding: 0 !important;
}
.element.title, .element.title_link {
    padding: 0 !important;
	font-size:24px !important;
}
.element.categories a {
    border-radius: 4px;
    padding:0 !important;
    background: transparent !important;
}
a.insights {
    color: #0094D5 !important;
}
a.news{
     color: #6A1F7A !important;
}
.element.thumb_link {
    border-radius: 0 !important;
}
.element.thumb_link img {
 transition: 0.5s;
}
.post-grid .item:hover .element.thumb_link img {
transform:translate(-50%, -50%) scale(1.1)
}
.post-grid .item .element.thumb_link:after{
  content: "";
    position: absolute;
    left: 0px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
    height: 4px;
    bottom: 0;
	  z-index: 2;
    opacity: 0;
    transition: 0.5s;
}
.post-grid .item:hover .element.thumb_link:after{
	  opacity: 1;
}

.post-grid .item .element.thumb_link:before {
    content: "";
    position: absolute;
    left: 0px;
    display: inline-block;
    width: 100%;
    background: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
    height: 100%;
    top: 0px;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}
.post-grid .item:hover .element.thumb_link:before { opacity: 0.2;}/* End custom CSS */