.elementor-29381 .elementor-element.elementor-element-7c6381ab > .elementor-container{min-height:500px;}.elementor-29381 .elementor-element.elementor-element-7c6381ab > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-29381 .elementor-element.elementor-element-7c6381ab:not(.elementor-motion-effects-element-type-background), .elementor-29381 .elementor-element.elementor-element-7c6381ab > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/05/our-locations-scaled.webp");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-29381 .elementor-element.elementor-element-7c6381ab{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-7c6381ab > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-29381 .elementor-element.elementor-element-13663fa7.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-29381 .elementor-element.elementor-element-13663fa7.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-29381 .elementor-element.elementor-element-13663fa7 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-e61f0d9{margin-top:-100px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:0;}.elementor-29381 .elementor-element.elementor-element-1348c787 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-704fc5e4:not(.elementor-motion-effects-element-type-background), .elementor-29381 .elementor-element.elementor-element-704fc5e4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-29381 .elementor-element.elementor-element-704fc5e4{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:50px 50px 50px 0px;}.elementor-29381 .elementor-element.elementor-element-704fc5e4 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-29381 .elementor-element.elementor-element-45995457 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-29381 .elementor-element.elementor-element-45995457 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-29381 .elementor-element.elementor-element-685665b9 .elementor-heading-title{font-size:60px;}.elementor-29381 .elementor-element.elementor-element-39de4ea9:not(.elementor-motion-effects-element-type-background), .elementor-29381 .elementor-element.elementor-element-39de4ea9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/06/Office-world-map-new.png");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-29381 .elementor-element.elementor-element-39de4ea9{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:80px 0px 80px 0px;}.elementor-29381 .elementor-element.elementor-element-39de4ea9 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-29381 .elementor-element.elementor-element-1b36b602 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-69f5570b{margin-top:0px;margin-bottom:0px;}.elementor-29381 .elementor-element.elementor-element-7a6920c2 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-title, .elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-title:before, .elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-title:after, .elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-content, .elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tabs-content-wrapper{border-width:0px;}.elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-title, .elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-title a{color:var( --e-global-color-23bb7d9 );}.elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-title.elementor-active,
					 .elementor-29381 .elementor-element.elementor-element-5cf2f8d1 .elementor-tab-title.elementor-active a{color:var( --e-global-color-712709b );}.elementor-29381 .elementor-element.elementor-element-27b4e3fe{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-4b441b15 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-24b0c050 .elementor-icon-wrapper{text-align:left;}.elementor-29381 .elementor-element.elementor-element-24b0c050{width:auto;max-width:auto;bottom:-8px;}body:not(.rtl) .elementor-29381 .elementor-element.elementor-element-24b0c050{left:0px;}body.rtl .elementor-29381 .elementor-element.elementor-element-24b0c050{right:0px;}.elementor-29381 .elementor-element.elementor-element-3b1af1cb .elementor-icon-wrapper{text-align:right;}.elementor-29381 .elementor-element.elementor-element-3b1af1cb .elementor-icon{font-size:80px;}.elementor-29381 .elementor-element.elementor-element-3b1af1cb .elementor-icon svg{height:80px;}.elementor-29381 .elementor-element.elementor-element-3b1af1cb{width:auto;max-width:auto;bottom:80px;}body:not(.rtl) .elementor-29381 .elementor-element.elementor-element-3b1af1cb{right:0px;}body.rtl .elementor-29381 .elementor-element.elementor-element-3b1af1cb{left:0px;}.elementor-29381 .elementor-element.elementor-element-0c8742c{padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-29381 .elementor-element.elementor-element-7c6381ab > .elementor-container{min-height:250px;}.elementor-29381 .elementor-element.elementor-element-e61f0d9{margin-top:-80px;margin-bottom:0px;padding:0px 0px 0px 0px;z-index:1;}.elementor-29381 .elementor-element.elementor-element-704fc5e4{padding:50px 50px 50px 50px;}.elementor-29381 .elementor-element.elementor-element-45995457 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-39de4ea9:not(.elementor-motion-effects-element-type-background), .elementor-29381 .elementor-element.elementor-element-39de4ea9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center center;background-size:cover;}.elementor-29381 .elementor-element.elementor-element-39de4ea9{margin-top:0px;margin-bottom:0px;padding:60px 20px 60px 20px;}.elementor-29381 .elementor-element.elementor-element-69f5570b{margin-top:0px;margin-bottom:0px;}.elementor-29381 .elementor-element.elementor-element-7a6920c2 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-5cf2f8d1{width:var( --container-widget-width, 911px );max-width:911px;--container-widget-width:911px;--container-widget-flex-grow:0;}}@media(max-width:767px){.elementor-29381 .elementor-element.elementor-element-7c6381ab{margin-top:0px;margin-bottom:0px;padding:80px 20px 30px 20px;z-index:1;}.elementor-29381 .elementor-element.elementor-element-e61f0d9{margin-top:-90px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-1348c787{width:100%;}.elementor-29381 .elementor-element.elementor-element-1348c787 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-704fc5e4{padding:20px 20px 20px 20px;}.elementor-29381 .elementor-element.elementor-element-39de4ea9{padding:50px 10px 100px 10px;}.elementor-29381 .elementor-element.elementor-element-1b36b602 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-69f5570b{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-7a6920c2 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-5cf2f8d1 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-29381 .elementor-element.elementor-element-24b0c050 .elementor-icon{font-size:30px;}.elementor-29381 .elementor-element.elementor-element-24b0c050 .elementor-icon svg{height:30px;}.elementor-29381 .elementor-element.elementor-element-24b0c050{bottom:-5px;}.elementor-29381 .elementor-element.elementor-element-3b1af1cb .elementor-icon{font-size:50px;}.elementor-29381 .elementor-element.elementor-element-3b1af1cb .elementor-icon svg{height:50px;}.elementor-29381 .elementor-element.elementor-element-3b1af1cb{bottom:40px;}}@media(min-width:1025px){.elementor-29381 .elementor-element.elementor-element-7c6381ab:not(.elementor-motion-effects-element-type-background), .elementor-29381 .elementor-element.elementor-element-7c6381ab > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:scroll;}.elementor-29381 .elementor-element.elementor-element-39de4ea9:not(.elementor-motion-effects-element-type-background), .elementor-29381 .elementor-element.elementor-element-39de4ea9 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:fixed;}}/* Start custom CSS for section, class: .elementor-element-e61f0d9 */.phase2Title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: -25%;
    min-width: calc((100vw - 1128px)/2 + 1128px);
}
.phase2Title {
    max-width: 75%;
}
@media only screen and (min-width:1551px){
    .phase2Title:before {
    left: -50vw;
    min-width: calc((100vw - 1128px)/2 + 1128px + 30vw);
}
}
@media only screen and (max-width:768px){
    .phase2Title:before {
    left: -80vw;

}
}
@media only screen and (max-width:500px){
    .phase2Title {
    max-width: 90%;
}
    .phase2Title:before {
    left: -20% !important;
 min-width: calc(100vw) !important;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-69f5570b */.themeTab {
    z-index: 1;
    width: 100% !important;
    max-width: 100% !important;
}
.themeTab .elementor-tabs-wrapper:after {
    content: "";
    position: relative;
    top: -1px;
    left: 25px;
    width: calc(100% - 55px);
    height: 1px;
    background: #C9CCD4;
    display: block;
    z-index: -1;
}
.themeTab .elementor-tabs-wrapper {
    border-bottom:0px !important;
}
@media (max-width:767px){
    .themeTab .elementor-tab-title.elementor-active:before{
bottom:0;
left:10px;
width: calc(100% - 20px) !important;
}
}

.themeTab .elementor-tab-title{
    position:relative;
    font-size: 18px;
    font-weight: 700;
    width: max-content;
}
.themeTab .elementor-tabs-content-wrapper{
    padding-top:20px
}
.themeTab .elementor-tab-title.elementor-active:before {
    content: "";
    position: absolute;
    display: block !important;
    height: 2px !important;
    background: #D6001C !important;
    bottom: 0 !important;
    left: 20px;
    width: calc(100% - 40px) !important;
    right: auto !important;
}
@media only screen and (max-width:767px){
    .themeTab .elementor-tab-title.elementor-active:before {
    width: calc(100% - 20px) !important;
    left: 10px !important;
}
}
.officeImage {
    margin-bottom: 15px !important;
}
.officeProfile h5.elementor-image-box-title {
    padding-left: 20px;
}
.officeProfile li.elementor-icon-list-item a {
    text-decoration: none !important;
}
.officeProfile:hover .elementor-widget-wrap {
 transform:translate(0) !important
}
.officeProfile:hover .officeImage  .elementor-image-box-title, .officeProfile .emailMe a:hover{
     background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
.officeProfile .officeImage  figure.elementor-image-box-img img{
  transition:0.5s;
    height:100% !important;
    width:100% !important;
    object-fit:cover !important;
}
 
.officeProfile:hover .officeImage  figure.elementor-image-box-img img {
 transform:scale(1.05)
}
.officeProfile .officeImage  figure.elementor-image-box-img{
 transition:0.5s;
 position:relative
}
.officeProfile:hover .officeImage  figure.elementor-image-box-img:after {
    content: "";
    display:block !important;
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    width:100%;
    transition:1s;
    background: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
    z-index: 2;
}
.officeProfile:hover .officeImage  figure.elementor-image-box-img:before {

}
.officeImage+.elementor-widget-icon-list {
 min-height:120px
}
.officeProfile .elementor-icon-list-icon svg path{
   fill:#63666B !important;
}
.officeProfile .elementor-icon-list-icon{
 top:9px;
}
.officeProfile .emailMe  .elementor-icon-list-icon{
 top:0px;
}
.officeProfile .elementor-icon-list-item{
 align-content:center !important
}
.officeImage 
 figure.elementor-image-box-img {
    margin-bottom: 0 !important;
  overflow:hidden;
}
.officeImage  .elementor-image-box-title{
 color:#28292B !important;
 font-size:24px !important;
 margin-top:10px;
}
.officeProfile .leftImageCardOnMob{
 margin-bottom:0 !important;
}
.officeProfile .leftImageCardOnMob .elementor-image-box-wrapper {
    align-items: center !important;
}
.officeProfile .leftImageCardOnMob .elementor-image-box-img, .officeProfile .leftImageCardOnMob .elementor-image-box-img img {
 min-width:70px !important;
 height:70px;
 margin-top: unset !important
}
.officeProfile .leftImageCardOnMob .elementor-image-box-title{
  color:#28292B;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0 !important;
  top: -15px;
  position: relative;
}
.officeProfile .emailMe a:after {
  content: "";
    display:block !important;
    position: absolute;
    left: 30px;
    bottom: 0px;
    height: 1px;
    width:calc(100% - 30px);
    transition:1s;
    background-color: #D6001C;
    z-index: 2;
}
.officeProfile .emailMe a:hover:after{
  background: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
}
.officeProfile .emailMe a .elementor-icon-list-text{
   color:#63666B !important;
font-size: 16px; 
font-weight: 700;
}

.officeProfile .emailMe a svg path{
  fill:#63666B !important;
}
.officeProfile .emailMe .elementor-widget-container{
 margin: -30px 0 0 87px !important;
}
.officeImage{
    position: relative !important;
    top: 0 !important;
       max-width:100% !important;
   }
.officeProfile a[href^="tel:"]{
    transition: none !important;
}
.officeProfile a[href^="tel:"]:hover{
    background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}/* End custom CSS */