.elementor-40913 .elementor-element.elementor-element-2a88bbd9{margin-top:112px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-17880262 > .elementor-container{min-height:680px;}.elementor-bc-flex-widget .elementor-40913 .elementor-element.elementor-element-3b36f6f8.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-40913 .elementor-element.elementor-element-3b36f6f8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-40913 .elementor-element.elementor-element-3b36f6f8 > .elementor-element-populated{margin:1px 1px 1px 1px;--e-column-margin-right:1px;--e-column-margin-left:1px;}.elementor-40913 .elementor-element.elementor-element-3cd779ae > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-40913 .elementor-element.elementor-element-2d43eb1d{text-align:center;}.elementor-40913 .elementor-element.elementor-element-2d43eb1d .elementor-heading-title{font-family:"Mulish", Sans-serif;font-size:48px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-5668400{text-align:center;}.elementor-40913 .elementor-element.elementor-element-5668400 .elementor-heading-title{color:#63666B;font-family:"Mulish", Sans-serif;font-size:18px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-7182aec7{margin-top:50px;margin-bottom:50px;}.elementor-40913 .elementor-element.elementor-element-2bb2c026 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-40913 .elementor-element.elementor-element-55a1ee58 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:16px;}.elementor-40913 .elementor-element.elementor-element-55a1ee58 > .elementor-element-populated{padding:0px 50px 10px 10px;}.elementor-40913 .elementor-element.elementor-element-1538d492 .elementor-button-content-wrapper{flex-direction:row;}.elementor-40913 .elementor-element.elementor-element-1538d492 .elementor-button .elementor-button-content-wrapper{gap:10px;}.elementor-40913 .elementor-element.elementor-element-1538d492 .elementor-button{background-color:#61CE70;padding:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-1538d492 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-1cc00ac2 .elementor-heading-title{font-family:"Mulish", Sans-serif;font-size:48px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-1cc00ac2 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-5fb3679d{color:#000000;font-size:18px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-5fb3679d > .elementor-widget-container{margin:0px 0px -15px 0px;padding:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-4c33d467 .elementor-image-box-wrapper{text-align:left;}.elementor-40913 .elementor-element.elementor-element-4c33d467 .elementor-image-box-title{margin-bottom:10px;color:#28292B;font-family:"Mulish", Sans-serif;font-size:20px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-4c33d467 .elementor-image-box-description{color:#28292B;font-family:"Mulish", Sans-serif;font-size:32px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-4c33d467 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-40913 .elementor-element.elementor-element-14745462 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-40913 .elementor-element.elementor-element-14745462 > .elementor-element-populated{padding:90px 40px 40px 40px;}.elementor-40913 .elementor-element.elementor-element-25df5a1{text-align:center;}.elementor-40913 .elementor-element.elementor-element-25df5a1 .elementor-heading-title{font-family:"Mulish", Sans-serif;font-size:24px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-25df5a1 > .elementor-widget-container{background-color:#FFFFFF;}.elementor-40913 .elementor-element.elementor-element-44fad91a > .elementor-widget-container{margin:0px 0px 0px 0px;padding:40px 40px 40px 40px;background-color:#FFFFFF;}.elementor-40913 .elementor-element.elementor-element-40dbdbd0 > .elementor-container{max-width:800px;}.elementor-40913 .elementor-element.elementor-element-40dbdbd0:not(.elementor-motion-effects-element-type-background), .elementor-40913 .elementor-element.elementor-element-40dbdbd0 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-40913 .elementor-element.elementor-element-40dbdbd0{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-40913 .elementor-element.elementor-element-40dbdbd0 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-40913 .elementor-element.elementor-element-70ad33de:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-40913 .elementor-element.elementor-element-70ad33de > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-40913 .elementor-element.elementor-element-70ad33de > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:50px 50px 50px 50px;}.elementor-40913 .elementor-element.elementor-element-70ad33de > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-40913 .elementor-element.elementor-element-2b787618 .elementor-button{background-color:#FFFFFF00;border-style:none;border-radius:0px 0px 0px 0px;padding:10px 10px 10px 10px;}.elementor-40913 .elementor-element.elementor-element-2b787618 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-2b787618{width:auto;max-width:auto;top:30px;}body:not(.rtl) .elementor-40913 .elementor-element.elementor-element-2b787618{right:30px;}body.rtl .elementor-40913 .elementor-element.elementor-element-2b787618{left:30px;}.elementor-40913 .elementor-element.elementor-element-25f96de0{text-align:center;}.elementor-40913 .elementor-element.elementor-element-25f96de0 .elementor-heading-title{font-family:"Mulish", Sans-serif;font-size:48px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-3226ab4d{text-align:center;}.elementor-40913 .elementor-element.elementor-element-3226ab4d .elementor-heading-title{font-family:"Mulish", Sans-serif;font-size:24px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-2003d533.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-40913 .elementor-element.elementor-element-29619186 .elementor-button{font-family:"Mulish", Sans-serif;font-size:16px;font-weight:700;fill:#D6001C;color:#D6001C;background-color:#FFFFFF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D6001C;}.elementor-40913 .elementor-element.elementor-element-29619186{width:auto;max-width:auto;align-self:center;}.elementor-40913 .elementor-element.elementor-element-54cc75dc.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-40913 .elementor-element.elementor-element-1da7b3a4 .elementor-button{font-family:"Mulish", Sans-serif;font-size:16px;font-weight:700;fill:#FFFFFF;color:#FFFFFF;background-color:#D6001C;}.elementor-40913 .elementor-element.elementor-element-1da7b3a4{width:auto;max-width:auto;align-self:center;}.elementor-40913 .elementor-element.elementor-element-1735e563:not(.elementor-motion-effects-element-type-background), .elementor-40913 .elementor-element.elementor-element-1735e563 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-40913 .elementor-element.elementor-element-1735e563{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-40913 .elementor-element.elementor-element-1735e563 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-40913 .elementor-element.elementor-element-60808ff2:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-40913 .elementor-element.elementor-element-60808ff2 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-40913 .elementor-element.elementor-element-60808ff2 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:70px 120px 24px 120px;}.elementor-40913 .elementor-element.elementor-element-60808ff2 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-40913 .elementor-element.elementor-element-3b365391 .elementor-button{background-color:#FFFFFF00;border-style:none;border-radius:0px 0px 0px 0px;padding:10px 10px 10px 10px;}.elementor-40913 .elementor-element.elementor-element-3b365391 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-3b365391{width:auto;max-width:auto;top:30px;}body:not(.rtl) .elementor-40913 .elementor-element.elementor-element-3b365391{right:30px;}body.rtl .elementor-40913 .elementor-element.elementor-element-3b365391{left:30px;}.elementor-40913 .elementor-element.elementor-element-b733cb3{text-align:center;}.elementor-40913 .elementor-element.elementor-element-b733cb3 .elementor-heading-title{font-family:"Mulish", Sans-serif;font-size:24px;font-weight:700;}.elementor-40913 .elementor-element.elementor-element-b733cb3 > .elementor-widget-container{padding:10px 10px 20px 10px;border-style:solid;border-width:0px 0px 1px 0px;border-color:#E2E5E7;border-radius:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-40913 .elementor-element.elementor-element-28c109f8.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-40913 .elementor-element.elementor-element-28c109f8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-40913 .elementor-element.elementor-element-28c109f8.elementor-column > .elementor-widget-wrap{justify-content:flex-end;}.elementor-40913 .elementor-element.elementor-element-2b0c3c0c .elementor-button-content-wrapper{flex-direction:row;}.elementor-40913 .elementor-element.elementor-element-2b0c3c0c .elementor-button .elementor-button-content-wrapper{gap:10px;}.elementor-40913 .elementor-element.elementor-element-2b0c3c0c .elementor-button{background-color:#61CE70;padding:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-2b0c3c0c > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-2b0c3c0c{width:auto;max-width:auto;}.elementor-40913 .elementor-element.elementor-element-2cd238db.elementor-column > .elementor-widget-wrap{justify-content:flex-start;}.elementor-40913 .elementor-element.elementor-element-207371ab .elementor-button{font-family:"Mulish", Sans-serif;font-size:16px;font-weight:700;fill:#FFFFFF;color:#FFFFFF;background-color:#D6001C;}.elementor-40913 .elementor-element.elementor-element-207371ab{width:auto;max-width:auto;align-self:center;}@media(max-width:1024px){.elementor-40913 .elementor-element.elementor-element-6a1d7bd9 > .elementor-element-populated{padding:15px 15px 15px 15px;}.elementor-40913 .elementor-element.elementor-element-14745462 > .elementor-element-populated{padding:80px 0px 0px 0px;}.elementor-40913 .elementor-element.elementor-element-3226ab4d .elementor-heading-title{font-size:24px;}.elementor-40913 .elementor-element.elementor-element-60808ff2 > .elementor-element-populated{padding:70px 60px 24px 60px;}.elementor-40913 .elementor-element.elementor-element-2b0c3c0c .elementor-button{font-size:16px;}}@media(max-width:767px){.elementor-40913 .elementor-element.elementor-element-2a88bbd9{margin-top:80px;margin-bottom:0px;}.elementor-40913 .elementor-element.elementor-element-2d43eb1d .elementor-heading-title{font-size:36px;}.elementor-40913 .elementor-element.elementor-element-5668400 .elementor-heading-title{font-size:18px;}.elementor-40913 .elementor-element.elementor-element-7182aec7{margin-top:30px;margin-bottom:30px;}.elementor-40913 .elementor-element.elementor-element-55a1ee58 > .elementor-element-populated{padding:10px 10px 10px 10px;}.elementor-40913 .elementor-element.elementor-element-14745462 > .elementor-element-populated{padding:40px 20px 40px 20px;}.elementor-40913 .elementor-element.elementor-element-44fad91a > .elementor-widget-container{padding:40px 20px 40px 20px;}.elementor-40913 .elementor-element.elementor-element-70ad33de > .elementor-element-populated{padding:50px 20px 0px 20px;}body:not(.rtl) .elementor-40913 .elementor-element.elementor-element-2b787618{right:20px;}body.rtl .elementor-40913 .elementor-element.elementor-element-2b787618{left:20px;}.elementor-40913 .elementor-element.elementor-element-2b787618{top:10px;}.elementor-40913 .elementor-element.elementor-element-3226ab4d .elementor-heading-title{font-size:20px;}.elementor-40913 .elementor-element.elementor-element-2003d533.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-40913 .elementor-element.elementor-element-54cc75dc.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-40913 .elementor-element.elementor-element-60808ff2 > .elementor-element-populated{padding:50px 24px 0px 24px;}body:not(.rtl) .elementor-40913 .elementor-element.elementor-element-3b365391{right:20px;}body.rtl .elementor-40913 .elementor-element.elementor-element-3b365391{left:20px;}.elementor-40913 .elementor-element.elementor-element-3b365391{top:10px;}.elementor-40913 .elementor-element.elementor-element-b733cb3 .elementor-heading-title{font-size:22px;}.elementor-40913 .elementor-element.elementor-element-28c109f8.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-40913 .elementor-element.elementor-element-2b0c3c0c .elementor-button{font-size:14px;}.elementor-40913 .elementor-element.elementor-element-2cd238db.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-40913 .elementor-element.elementor-element-207371ab .elementor-button{font-size:14px;}}@media(min-width:768px){.elementor-40913 .elementor-element.elementor-element-55a1ee58{width:60%;}.elementor-40913 .elementor-element.elementor-element-14745462{width:40%;}}@media(max-width:1024px) and (min-width:768px){.elementor-40913 .elementor-element.elementor-element-55a1ee58{width:55%;}.elementor-40913 .elementor-element.elementor-element-14745462{width:45%;}}/* Start custom CSS for section, class: .elementor-element-2a88bbd9 */.csTitle:before{
    content:"";
    display: block;
    position: absolute;
    right: 0;
    top:0;
    height: 40px;
    width: 40px;
    background-image: url(../../2023/06/decorElem_2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(0, -80%);
    
}
.csTitleBG:before{
    content:"";
    display: block;
    position: absolute;
    right: 0;
    bottom:0;
    height: 80px;
    width: 80px;
    background-image: url(../../2023/06/decorElem_1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(0%, -50%);
    
}
.csTitleBG:after{
    content:"";
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: radial-gradient(157.65% 157.65% at 19.27% 197.79%, rgba(106, 31, 122, 0.2) 0%, rgba(106, 31, 122, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(90.1% 110.66% at 138.99% 138.16%, rgba(0, 148, 213, 0.2) 0%, rgba(0, 148, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;  
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-25df5a1 */.result-email-form .form-heading .elementor-heading-title{
    background-color: rgb(255, 255, 255) !important;
    z-index: 1 !important;
    position : relative;
    padding: 40px 10px 0px 10px;
}
.result-email-form .form-heading{;
    box-shadow: rgba(0, 0, 0, 0.23) 0px 0px 40px 0px !important;
}
.result-email-form  .elementor-widget-shortcode  .elementor-widget-container{
    padding: 20px 40px 40px 40px !important;
}
@media only screen and (max-width: 767px){
    .result-email-form  .elementor-widget-shortcode  .elementor-widget-container{
    padding: 20px 20px 40px 20px !important;
    }
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-14745462 */.result-email-form input.wpcf7-form-control:not(
    [disabled])[type=submit]{
  border: none !important;
  background: linear-gradient(270deg, RGB(214, 0, 28) 13.02%, RGB(214, 0, 28) 98.28%) !important;
}
.result-email-form input.wpcf7-form-control[type=submit]:not(
    [disabled]):hover{
box-shadow: 3px 3px 0px 0px #884c95 !important;
background: linear-gradient(270deg, #c4001a 13.02%, #6A1F7A 98.28%) !important;
-webkit-text-fill-color: white !important;
text-fill-color: white !important;
  color: white !important;
}

.result-email-form input.wpcf7-form-control[type=submit]:not(
    [disabled]):active {
box-shadow: inset 3px 3px 0px 0px rgba(15, 15, 26, 0.4) !important;
background: linear-gradient(270deg, #d6001c, #6a1f7a) !important;
}
.result-email-form input.wpcf7-form-control[disabled] {
display: block !important;
}
.result-email-form input.wpcf7-form-control[disabled]:hover{
webkit-text-fill-color: rgba(159, 163, 170, 1) !important;
text-fill-color: rgba(159, 163, 170, 1) !important;
}
.result-email-form input.wpcf7-form-control[disabled] {
background: rgba(226, 229, 231, 1) !important;
color: rgba(159, 163, 170, 1) !important;
cursor: not-allowed !important;
transform: none !important;
box-shadow: none !important;
border: none !important;
}
.result-email-form input.wpcf7-form-control[type=submit]:not(
    [disabled]):hover:active {
    box-shadow: inset 3px 3px 0px 0px rgba(15, 15, 26, 0.4) !important;
    background: linear-gradient(270deg, #d6001c, #6a1f7a) !important;
}

.result-email-form input.wpcf7-form-control[disabled]:hover, .result-email-form input.wpcf7-form-control[disabled]:active {
background: rgba(226, 229, 231, 1) !important;
color: rgba(159, 163, 170, 1) !important;
cursor: not-allowed !important;
transform: none !important;
box-shadow: none !important;
border: none !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-40dbdbd0 */section.final-result-popup{
    width: 100%;
    overflow: auto;
    height: 100vh;
    padding: 50px 20px;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: none;
    background: rgba(15, 15, 36, 0.1) !important;
    backdrop-filter: blur(1.5px);
    display:none !important;
    align-items: center;
}

section.elementor-section.final-result-popup > .elementor-container {
    position: relative;
    max-width: 90%;
    width: 100%;
    background: white;
    z-index: 99;
    margin: 0 auto !important;
    padding: 20px 0 50px;
}

.final-result-popup.show-popup{
    display: flex !important;
}
.final-result-popup .final-result-btn{
    cursor: pointer;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
    -webkit-transition: background .25s ease-out;
    -moz-transition: background .25s ease-out;
    transition: background .25s ease-out;
}

.final-result-popup .top-heading .elementor-heading-title{
    background-image: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
}
.final-result-popup .final-result-close-btn svg{
    width: 1em !important;
    height: 1em !important;
}
.final-result-popup .final-result-close-btn a, .final-result-popup .review-btn a{
    cursor: pointer !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-1735e563 */section.answer-review-popup{
   width: 100%;
    overflow: auto;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: none;
    background: rgba(15, 15, 36, 0.1) !important;
    backdrop-filter: blur(1.5px);
    display:none !important;
}
section.elementor-section.answer-review-popup > .elementor-container {
    position: relative;
    max-width: 90%;
    width: 100%;
    background: white;
    z-index: 99;
    margin: 0 auto !important;
}
@media only screen and (max-width: 767px){
 section.elementor-section.answer-review-popup > .elementor-container {
     min-height:700px;
 }   
}
@media only screen and (min-width: 768px){
 section.elementor-section.answer-review-popup > .elementor-container {
     min-height:640px;
 }   
}
.answer-review-popup.show-popup{
    display: block !important;
}
.answer-review-popup .final-result-btn{
    cursor: pointer;
    text-decoration: none;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .05);
    -webkit-transition: background .25s ease-out;
    -moz-transition: background .25s ease-out;
    transition: background .25s ease-out;
}
.answer-review-popup .top-heading h1{
    background-image: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text !important;
    color: transparent !important;
}
.answer-review-popup .answer-review-close-btn svg{
    width: 1em !important;
    height: 1em !important;
}
.answer-review-popup .answer-review-close-btn a, .answer-review-popup .back-assessment-col a{
    cursor: pointer !important;
}
.question-answer-column > .elementor-widget-wrap{
    display: block !important;
    overflow-y: auto !important;
    margin: 0px 0px 30px 0px !important;
    padding: 0px 20px 0px 0px !important;
}
.question-answer-column{
    max-height: 400px !important;
}
.question-answer-column > .elementor-widget-wrap .section-header{
    margin: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(40, 41, 43, 1);
}
table.question-list, .question-list td{
    border: none !important;
    padding: 0px !important;
}
.question-list td{
    vertical-align: text-top;
    padding: 0px 5px !important;
}
.question-answer-column > .elementor-widget-wrap .question-list{
    font-size: 18px;
    font-weight: 400;
    color: rgba(99, 102, 107, 1);
}
.question-answer-column > .elementor-widget-wrap table.question-list td.question-text{
    padding: 0px 10px 0px 0px !important;
    max-width: 600px !important;
}
.question-answer-column > .elementor-widget-wrap table.question-list td.question-number{
    padding: 0px 2px 0px 0px !important;
}
.question-answer-column > .elementor-widget-wrap table.question-list td.answer{
    padding: 0px 10px 0px 10px !important;
    font-weight: 700;
}
.question-answer-column > .elementor-widget-wrap table.question-list td{
    line-height: 2em;
}
.question-answer-column > .elementor-widget-wrap{
    overflow-y: auto !important;
}
.question-answer-column > .elementor-widget-wrap::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}
.question-answer-column > .elementor-widget-wrap::-webkit-scrollbar-track {
    background-color: rgba(241, 243, 246, 1);
    border-radius: 4px !important;
}
.question-answer-column > .elementor-widget-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 4px;
}
.question-answer-column > .elementor-widget-wrap::-webkit-scrollbar-button {
    display: none;
}
@media only screen and (min-width: 768px){
    .question-answer-column table.question-list {
        padding-left: 15px !important;
    }
}
@media only screen and (max-width: 767px){
    .question-answer-column > .elementor-widget-wrap .section-header{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        color: rgba(40, 41, 43, 1);
    }
    .question-answer-column > .elementor-widget-wrap table.question-list{
        margin: 10px 0px 0px 10px !important;
        font-size: 15px;
    }
    .question-answer-column > .elementor-widget-wrap table.question-list {
        margin: 10px 0px 0px 0px !important;
        line-height: 1.5em !important;
    }
}
@media only screen and (min-width: 768px){
    .question-answer-column .elementor-widget-wrap table.question-list td.answer{
        display:flex !important;
        flex-direction: column !important;
        width: max-content;
        margin-left: auto;
    }
    .question-answer-column .elementor-widget-wrap table.question-list td.answer .answer-wrap{
        padding: 2px 0px 8px 0px !important;
    }
    .question-answer-column .elementor-widget-wrap table.question-list td.answer .answer-wrap:first-child{
        margin: 5px 0px 0px 0px !important
    }
    .question-answer-column .elementor-widget-wrap table.question-list td.answer .answer-wrap:last-child{
        margin: 0px 0px 5px 0px !important
    }
}/* End custom CSS */