.elementor-22844 .elementor-element.elementor-element-438ab8e > .elementor-container{min-height:500px;}.elementor-22844 .elementor-element.elementor-element-438ab8e > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-22844 .elementor-element.elementor-element-438ab8e:not(.elementor-motion-effects-element-type-background), .elementor-22844 .elementor-element.elementor-element-438ab8e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../2024/08/VN-360-scaled.webp");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-22844 .elementor-element.elementor-element-438ab8e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-438ab8e > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-22844 .elementor-element.elementor-element-7caac1ee.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-22844 .elementor-element.elementor-element-7caac1ee.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-22844 .elementor-element.elementor-element-7caac1ee > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-4121becf{margin-top:-100px;margin-bottom:80px;padding:0px 0px 0px 0px;z-index:0;}.elementor-22844 .elementor-element.elementor-element-1ed36733 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-4d58452c:not(.elementor-motion-effects-element-type-background), .elementor-22844 .elementor-element.elementor-element-4d58452c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-22844 .elementor-element.elementor-element-4d58452c{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:50px 50px 50px 0px;}.elementor-22844 .elementor-element.elementor-element-4d58452c > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-22844 .elementor-element.elementor-element-6c3865bd > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-22844 .elementor-element.elementor-element-6c3865bd > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-22844 .elementor-element.elementor-element-7312063d .elementor-heading-title{font-size:60px;}.elementor-22844 .elementor-element.elementor-element-664bad9e{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-39873363 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-5c8453dd .elementor-icon-wrapper{text-align:left;}.elementor-22844 .elementor-element.elementor-element-5c8453dd{width:auto;max-width:auto;bottom:-8px;}body:not(.rtl) .elementor-22844 .elementor-element.elementor-element-5c8453dd{left:0px;}body.rtl .elementor-22844 .elementor-element.elementor-element-5c8453dd{right:0px;}.elementor-22844 .elementor-element.elementor-element-6a88316d .elementor-icon-wrapper{text-align:right;}.elementor-22844 .elementor-element.elementor-element-6a88316d .elementor-icon{font-size:80px;}.elementor-22844 .elementor-element.elementor-element-6a88316d .elementor-icon svg{height:80px;}.elementor-22844 .elementor-element.elementor-element-6a88316d{width:auto;max-width:auto;bottom:80px;}body:not(.rtl) .elementor-22844 .elementor-element.elementor-element-6a88316d{right:0px;}body.rtl .elementor-22844 .elementor-element.elementor-element-6a88316d{left:0px;}.elementor-22844 .elementor-element.elementor-element-8a4df98{margin-top:0px;margin-bottom:-120px;z-index:2;}.elementor-22844 .elementor-element.elementor-element-392ad688 > .elementor-container{max-width:957px;}.elementor-22844 .elementor-element.elementor-element-3287a17e .elementor-wrapper{--video-aspect-ratio:1.77777;}.elementor-22844 .elementor-element.elementor-element-78ccb79c{text-align:center;}.elementor-22844 .elementor-element.elementor-element-78ccb79c .elementor-heading-title{color:#FFFFFF;font-size:14px;}.elementor-22844 .elementor-element.elementor-element-52fb7b60:not(.elementor-motion-effects-element-type-background), .elementor-22844 .elementor-element.elementor-element-52fb7b60 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(180deg, #471955 0%, #191B66 100%);}.elementor-22844 .elementor-element.elementor-element-52fb7b60{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;color:#FFFFFF;margin-top:0px;margin-bottom:0px;padding:240px 120px 120px 120px;}.elementor-22844 .elementor-element.elementor-element-52fb7b60 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-22844 .elementor-element.elementor-element-52fb7b60 .elementor-heading-title{color:#FFFFFF;}.elementor-bc-flex-widget .elementor-22844 .elementor-element.elementor-element-3e9b1d63.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-22844 .elementor-element.elementor-element-3e9b1d63.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-22844 .elementor-element.elementor-element-3e9b1d63 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-22844 .elementor-element.elementor-element-3e9b1d63 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-22844 .elementor-element.elementor-element-7575d4f8 .elementor-heading-title{font-size:48px;}.elementor-22844 .elementor-element.elementor-element-7575d4f8 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-22844 .elementor-element.elementor-element-18eb5ded.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-22844 .elementor-element.elementor-element-18eb5ded.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-22844 .elementor-element.elementor-element-18eb5ded > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}.elementor-22844 .elementor-element.elementor-element-18eb5ded > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0% 0% 0% 10%;}.elementor-22844 .elementor-element.elementor-element-73e96cd7{font-size:18px;}.elementor-22844 .elementor-element.elementor-element-cd992cc > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-22844 .elementor-element.elementor-element-cd992cc{margin-top:80px;margin-bottom:150px;padding:0px 0px 0px 0px;}@media(max-width:1024px){.elementor-22844 .elementor-element.elementor-element-438ab8e > .elementor-container{min-height:250px;}.elementor-22844 .elementor-element.elementor-element-4121becf{padding:0px 0px 0px 0px;z-index:1;}.elementor-22844 .elementor-element.elementor-element-4d58452c{padding:50px 50px 50px 50px;}.elementor-22844 .elementor-element.elementor-element-6c3865bd > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-392ad688 > .elementor-container{max-width:600px;}.elementor-22844 .elementor-element.elementor-element-52fb7b60{padding:240px 40px 120px 40px;}.elementor-22844 .elementor-element.elementor-element-cd992cc{padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-b4e8087 > .elementor-element-populated{padding:20px 20px 20px 20px;}}@media(max-width:767px){.elementor-22844 .elementor-element.elementor-element-438ab8e{margin-top:0px;margin-bottom:0px;padding:80px 20px 30px 20px;z-index:1;}.elementor-22844 .elementor-element.elementor-element-4121becf{margin-top:-90px;margin-bottom:50px;padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-1ed36733{width:100%;}.elementor-22844 .elementor-element.elementor-element-1ed36733 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-4d58452c{padding:20px 20px 20px 20px;}.elementor-22844 .elementor-element.elementor-element-5c8453dd .elementor-icon{font-size:30px;}.elementor-22844 .elementor-element.elementor-element-5c8453dd .elementor-icon svg{height:30px;}.elementor-22844 .elementor-element.elementor-element-5c8453dd{bottom:-5px;}.elementor-22844 .elementor-element.elementor-element-6a88316d .elementor-icon{font-size:50px;}.elementor-22844 .elementor-element.elementor-element-6a88316d .elementor-icon svg{height:50px;}.elementor-22844 .elementor-element.elementor-element-6a88316d{bottom:40px;}.elementor-22844 .elementor-element.elementor-element-52fb7b60{padding:150px 30px 120px 30px;}.elementor-22844 .elementor-element.elementor-element-3e9b1d63 > .elementor-element-populated{margin:0px 0px 40px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-18eb5ded > .elementor-element-populated{padding:0% 0% 0% 0%;}.elementor-22844 .elementor-element.elementor-element-cd992cc{padding:0px 0px 0px 0px;}.elementor-22844 .elementor-element.elementor-element-b4e8087 > .elementor-element-populated{padding:20px 20px 20px 20px;}}@media(min-width:768px){.elementor-22844 .elementor-element.elementor-element-3e9b1d63{width:40%;}.elementor-22844 .elementor-element.elementor-element-18eb5ded{width:60%;}}@media(max-width:1024px) and (min-width:768px){.elementor-22844 .elementor-element.elementor-element-3e9b1d63{width:50%;}.elementor-22844 .elementor-element.elementor-element-18eb5ded{width:50%;}}@media(min-width:1025px){.elementor-22844 .elementor-element.elementor-element-438ab8e:not(.elementor-motion-effects-element-type-background), .elementor-22844 .elementor-element.elementor-element-438ab8e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-attachment:scroll;}}/* Start custom CSS for section, class: .elementor-element-4121becf */.phase2Title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    left: -25%;
    min-width: calc((100vw - 1128px)/2 + 1128px);
}
.phase2Title {
    max-width: 75%;
}
@media only screen and (min-width:1551px){
    .phase2Title:before {
    left: -50vw;
    min-width: calc((100vw - 1128px)/2 + 1128px + 30vw);
}
}
@media only screen and (max-width:768px){
    .phase2Title:before {
    left: -80vw;

}
}
@media only screen and (max-width:500px){
    .phase2Title {
    max-width: 90%;
}
    .phase2Title:before {
    left: -20% !important;
 min-width: calc(100vw) !important;
}
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-8a4df98 */.gradBorder::before{
  content: "";
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
  z-index: -1;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-52fb7b60 */.tour-content-container .tour-button a{
    text-align: center;
    color: #FFF !important;
    background-color:transparent;
    padding:10px 50px 10px 20px; 
    border: 1px solid #FFF;
    display: block;
    max-width: max-content;
    position: relative;
    text-decoration: none !important;
    margin-top: 48px;
	transition:0.3s;
}
.tour-button a:hover {
    background:#fff !important;
    box-shadow: 3px 3px 0px #D6001C !important;
    border:1px solid !important;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%) !important;
}
.tour-button a:hover span{   background: linear-gradient(270deg, #D6001C 13.02%, #6A1F7A 98.28%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.tour-content-container .tour-button a:after {
    content:"";
    position:absolute;
    width: 22px;
    height: 12px;
    background: url(https://poc.nashtechglobal.vn/wp-content/uploads/2023/03/red-arrow.svg) !important;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    filter: invert(54%) sepia(98%) saturate(0%) hue-rotate(319deg) brightness(200%)
  contrast(95%) !important;
    top: 50%;
    right: 0;
    transform: translate(-15px, -50%);
}
.tour-content-container .tour-button a:hover:after{
    background:url(https://poc.nashtechglobal.vn/wp-content/uploads/2023/03/red-arrow.svg);
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    filter: none !important;
}
.tour-content-container .welcome-heading-column h3.elementor-heading-title.elementor-size-default {
    line-height:normal !important;
}
.visit-button-column p{
    line-height:150% !important;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-cd992cc */.footerCTAlinks {
     width: 100%;
     position: relative;
 }
    .footerCTAlinks a{
        display: block;
        width: 100%;
        background: transparent !important;
        border: 0 !important;
        border-bottom: 1px solid !important;
        color:#6C7685 !important;
        font-weight: 700 !important;
        font-size: 24px !important;
        line-height: 36px !important;
        transform: 0.2s;
        text-align: left !important;
        padding: 20px 0 !important
    }
.footerCTAlinks a .elementor-button-icon {
    position: absolute;
    right: 15px;
    display: none;
}
     .footerCTAlinks:hover a{
    box-shadow: none !important;
    }
.footerCTAlinks a {
    width: 100%;
    
}
.footerCTAlinks .elementor-button-content-wrapper{
   justify-content:flex-start !important;
    
}
.footerCTAlinks .elementor-button-text{
    flex-grow: 1 !important;
    word-wrap: break-word;
    max-width:85%;
    display: block;
    
}

      .footerCTAlinks:hover a .elementor-button-text, .footerCTAlinks.active a .elementor-button-text{
        background: linear-gradient(270deg, #D6001C, #6A1F7A) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    box-shadow: none !important;
    }
     .footerCTAlinks:hover a  .elementor-button-icon, .footerCTAlinks.active a  .elementor-button-icon{
        display: inline-block !important
    }/* End custom CSS */